* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	padding: 24px;
}

[v-cloak] {
	display: none;
}

nav {
	background-color: #5597b4;
	margin: 60px auto 45px;
	text-align: center;
}

nav a {
	color: #fff;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 18px 30px !important;
	text-decoration: none;
	text-transform: uppercase;
}

p {
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
}

p b {
	text-transform: uppercase;
}

/* Ex: This targets `.home` when `.home` is active in the nav */
nav.home .home,
nav.projects .projects,
nav.services .services,
nav.contact .contact,
nav.blog .blog {
	background-color: #e35885;
}